ESGF CMIP6 data holdings for activity CMIP as of Tuesday 16 April 2019 15:24:56
<br><br>
The cells are shaded by how recently their latest datasets were published.
<br><br>
<table border="1" cellspacing="2" cellpadding="4">
    <tr>
        <td bgcolor="#BBF7BB">More than 28 days</td>
        <td bgcolor="#32E732">More than 7 days</td>
        <td bgcolor="#15B715">Less than 7 days</td>
    </tr>
</table>
<br>

Number of 'datasets' [variables x (# of simulations)] from each model in support of each CMIP6 CMIP experiment.
<br><br>

<div style="overflow-x:auto;">
<table border="1" cellspacing="2" cellpadding="4">
    <tr>
        <th>model</th>
        <th># of experiments</th>
        <th>1pctCO2</th>
        <th>abrupt-4xCO2</th>
        <th>amip</th>
        <th>esm-hist</th>
        <th>esm-piControl</th>
        <th>esm-piControl-spinup</th>
        <th>historical</th>
        <th>piControl</th>
        <th>piControl-spinup</th>
        </tr>
    <tr>
        <td><b># of models</b></td>
        <td><b>67</b></td>
        <td><b>9</b></td>
        <td><b>9</b></td>
        <td><b>12</b></td>
        <td><b>3</b></td>
        <td><b>3</b></td>
        <td><b>1</b></td>
        <td><b>13</b></td>
        <td><b>15</b></td>
        <td><b>2</b></td>
        </tr>
    <tr>
        <td><b>BCC-CSM2-MR</b></td>
        <td><b>6</b></td>
        <td bgcolor="#32E732">146</td>
        <td bgcolor="#32E732">146</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#32E732">578</td>
        <td bgcolor="#32E732">146</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#32E732">571</td>
        <td bgcolor="#32E732">145</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>BCC-ESM1</b></td>
        <td><b>2</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#32E732">534</td>
        <td bgcolor="#32E732">137</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>CESM2</b></td>
        <td><b>3</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#32E732">550</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#32E732">9042</td>
        <td bgcolor="#32E732">863</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>CESM2-WACCM</b></td>
        <td><b>3</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#32E732">1418</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#BBF7BB">2359</td>
        <td bgcolor="#32E732">913</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>CNRM-CM6-1</b></td>
        <td><b>5</b></td>
        <td bgcolor="#15B715">387</td>
        <td bgcolor="#15B715">1818</td>
        <td bgcolor="#BBF7BB">500</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#15B715">4079</td>
        <td bgcolor="#15B715">302</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>CNRM-ESM2-1</b></td>
        <td><b>9</b></td>
        <td bgcolor="#15B715">1950</td>
        <td bgcolor="#BBF7BB">1456</td>
        <td bgcolor="#BBF7BB">564</td>
        <td bgcolor="#BBF7BB">609</td>
        <td bgcolor="#BBF7BB">555</td>
        <td bgcolor="#BBF7BB">279</td>
        <td bgcolor="#BBF7BB">2951</td>
        <td bgcolor="#BBF7BB">440</td>
        <td bgcolor="#BBF7BB">273</td>
        </tr>
    <tr>
        <td><b>CanESM5</b></td>
        <td><b>6</b></td>
        <td bgcolor="#15B715">126</td>
        <td bgcolor="#15B715">126</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#15B715">580</td>
        <td bgcolor="#15B715">94</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#15B715">2990</td>
        <td bgcolor="#15B715">112</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>E3SM-1-0</b></td>
        <td><b>1</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#32E732">17</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>EC-Earth3</b></td>
        <td><b>1</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#15B715">336</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>FGOALS-f3-L</b></td>
        <td><b>1</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#BBF7BB">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>GFDL-AM4</b></td>
        <td><b>1</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#BBF7BB">69</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>GFDL-CM4</b></td>
        <td><b>1</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#15B715">476</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>GISS-E2-1-G</b></td>
        <td><b>5</b></td>
        <td bgcolor="#BBF7BB">166</td>
        <td bgcolor="#BBF7BB">166</td>
        <td bgcolor="#BBF7BB">665</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#BBF7BB">1711</td>
        <td bgcolor="#BBF7BB">176</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>GISS-E2-1-H</b></td>
        <td><b>1</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#15B715">152</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>IPSL-CM6A-LR</b></td>
        <td><b>6</b></td>
        <td bgcolor="#BBF7BB">704</td>
        <td bgcolor="#BBF7BB">8020</td>
        <td bgcolor="#BBF7BB">3330</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#BBF7BB">22368</td>
        <td bgcolor="#15B715">1794</td>
        <td bgcolor="#BBF7BB">389</td>
        </tr>
    <tr>
        <td><b>MIROC6</b></td>
        <td><b>5</b></td>
        <td bgcolor="#BBF7BB">109</td>
        <td bgcolor="#BBF7BB">109</td>
        <td bgcolor="#BBF7BB">930</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#BBF7BB">1090</td>
        <td bgcolor="#BBF7BB">109</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>MRI-ESM2-0</b></td>
        <td><b>5</b></td>
        <td bgcolor="#BBF7BB">54</td>
        <td bgcolor="#BBF7BB">702</td>
        <td bgcolor="#BBF7BB">162</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#BBF7BB">270</td>
        <td bgcolor="#BBF7BB">54</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>SAM0-UNICON</b></td>
        <td><b>1</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#15B715">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>UKESM1-0-LL</b></td>
        <td><b>5</b></td>
        <td bgcolor="#15B715">189</td>
        <td bgcolor="#15B715">185</td>
        <td bgcolor="#32E732">132</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#15B715">235</td>
        <td bgcolor="#15B715">31</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    </table>
</div>
<br><br>

Number of simulations [# of simulations] from each model in support of each CMIP6 CMIP experiment.
<br><br>

<div style="overflow-x:auto;">
<table border="1" cellspacing="2" cellpadding="4">
    <tr>
        <th>model</th>
        <th>1pctCO2</th>
        <th>abrupt-4xCO2</th>
        <th>amip</th>
        <th>esm-hist</th>
        <th>esm-piControl</th>
        <th>esm-piControl-spinup</th>
        <th>historical</th>
        <th>piControl</th>
        <th>piControl-spinup</th>
        </tr>
    <tr>
        <td><b>BCC-CSM2-MR</b></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>BCC-ESM1</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>CESM2</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">10</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>CESM2-WACCM</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>CNRM-CM6-1</b></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">6</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">10</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>CNRM-ESM2-1</b></td>
        <td bgcolor="#FFFFFF">4</td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">5</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        </tr>
    <tr>
        <td><b>CanESM5</b></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">5</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">25</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>E3SM-1-0</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>EC-Earth3</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">2</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>FGOALS-f3-L</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>GFDL-AM4</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>GFDL-CM4</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>GISS-E2-1-G</b></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">5</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">10</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>GISS-E2-1-H</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>IPSL-CM6A-LR</b></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">12</td>
        <td bgcolor="#FFFFFF">11</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">31</td>
        <td bgcolor="#FFFFFF">2</td>
        <td bgcolor="#FFFFFF">1</td>
        </tr>
    <tr>
        <td><b>MIROC6</b></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">10</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">10</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>MRI-ESM2-0</b></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">13</td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">5</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>SAM0-UNICON</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>UKESM1-0-LL</b></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    </table>
</div>
<br><br>

Number of variables from each model in support of each CMIP6 CMIP experiment.
<br><br>

<div style="overflow-x:auto;">
<table border="1" cellspacing="2" cellpadding="4">
    <tr>
        <th>model</th>
        <th>1pctCO2</th>
        <th>abrupt-4xCO2</th>
        <th>amip</th>
        <th>esm-hist</th>
        <th>esm-piControl</th>
        <th>esm-piControl-spinup</th>
        <th>historical</th>
        <th>piControl</th>
        <th>piControl-spinup</th>
        </tr>
    <tr>
        <td><b>BCC-CSM2-MR</b></td>
        <td bgcolor="#FFFFFF">146</td>
        <td bgcolor="#FFFFFF">146</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">159</td>
        <td bgcolor="#FFFFFF">146</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">157</td>
        <td bgcolor="#FFFFFF">145</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>BCC-ESM1</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">154</td>
        <td bgcolor="#FFFFFF">137</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>CESM2</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">310</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">628</td>
        <td bgcolor="#FFFFFF">582</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>CESM2-WACCM</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">350</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">648</td>
        <td bgcolor="#FFFFFF">633</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>CNRM-CM6-1</b></td>
        <td bgcolor="#FFFFFF">296</td>
        <td bgcolor="#FFFFFF">313</td>
        <td bgcolor="#FFFFFF">236</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">339</td>
        <td bgcolor="#FFFFFF">229</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>CNRM-ESM2-1</b></td>
        <td bgcolor="#FFFFFF">486</td>
        <td bgcolor="#FFFFFF">485</td>
        <td bgcolor="#FFFFFF">327</td>
        <td bgcolor="#FFFFFF">512</td>
        <td bgcolor="#FFFFFF">459</td>
        <td bgcolor="#FFFFFF">273</td>
        <td bgcolor="#FFFFFF">543</td>
        <td bgcolor="#FFFFFF">406</td>
        <td bgcolor="#FFFFFF">267</td>
        </tr>
    <tr>
        <td><b>CanESM5</b></td>
        <td bgcolor="#FFFFFF">111</td>
        <td bgcolor="#FFFFFF">111</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">108</td>
        <td bgcolor="#FFFFFF">87</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">112</td>
        <td bgcolor="#FFFFFF">98</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>E3SM-1-0</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">17</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>EC-Earth3</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">125</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>FGOALS-f3-L</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>GFDL-AM4</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">69</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>GFDL-CM4</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">280</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>GISS-E2-1-G</b></td>
        <td bgcolor="#FFFFFF">166</td>
        <td bgcolor="#FFFFFF">166</td>
        <td bgcolor="#FFFFFF">133</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">171</td>
        <td bgcolor="#FFFFFF">175</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>GISS-E2-1-H</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">151</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>IPSL-CM6A-LR</b></td>
        <td bgcolor="#FFFFFF">524</td>
        <td bgcolor="#FFFFFF">554</td>
        <td bgcolor="#FFFFFF">289</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">583</td>
        <td bgcolor="#FFFFFF">591</td>
        <td bgcolor="#FFFFFF">355</td>
        </tr>
    <tr>
        <td><b>MIROC6</b></td>
        <td bgcolor="#FFFFFF">106</td>
        <td bgcolor="#FFFFFF">106</td>
        <td bgcolor="#FFFFFF">90</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">106</td>
        <td bgcolor="#FFFFFF">106</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>MRI-ESM2-0</b></td>
        <td bgcolor="#FFFFFF">54</td>
        <td bgcolor="#FFFFFF">54</td>
        <td bgcolor="#FFFFFF">54</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">54</td>
        <td bgcolor="#FFFFFF">54</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>SAM0-UNICON</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>UKESM1-0-LL</b></td>
        <td bgcolor="#FFFFFF">185</td>
        <td bgcolor="#FFFFFF">184</td>
        <td bgcolor="#FFFFFF">125</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">225</td>
        <td bgcolor="#FFFFFF">31</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    </table>
</div>
<br><br>

Number of models providing output at each sampling frequency in support of each CMIP6 CMIP experiment.
<br><br>

<div style="overflow-x:auto;">
<table border="1" cellspacing="2" cellpadding="4">
    <tr>
        <th>frequency</th>
        <th>1pctCO2</th>
        <th>abrupt-4xCO2</th>
        <th>amip</th>
        <th>esm-hist</th>
        <th>esm-piControl</th>
        <th>esm-piControl-spinup</th>
        <th>historical</th>
        <th>piControl</th>
        <th>piControl-spinup</th>
        </tr>
    <tr>
        <td><b>1hr</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>1hrCM</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>3hr</b></td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">6</td>
        <td bgcolor="#FFFFFF">2</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>3hrPt</b></td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">5</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>6hr</b></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">4</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>6hrPt</b></td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#FFFFFF">4</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">7</td>
        <td bgcolor="#FFFFFF">2</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>day</b></td>
        <td bgcolor="#FFFFFF">4</td>
        <td bgcolor="#FFFFFF">4</td>
        <td bgcolor="#FFFFFF">5</td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#FFFFFF">2</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">10</td>
        <td bgcolor="#FFFFFF">7</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>dec</b></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        </tr>
    <tr>
        <td><b>fx</b></td>
        <td bgcolor="#FFFFFF">4</td>
        <td bgcolor="#FFFFFF">4</td>
        <td bgcolor="#FFFFFF">6</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">7</td>
        <td bgcolor="#FFFFFF">9</td>
        <td bgcolor="#FFFFFF">2</td>
        </tr>
    <tr>
        <td><b>mon</b></td>
        <td bgcolor="#FFFFFF">9</td>
        <td bgcolor="#FFFFFF">9</td>
        <td bgcolor="#FFFFFF">11</td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">13</td>
        <td bgcolor="#FFFFFF">15</td>
        <td bgcolor="#FFFFFF">2</td>
        </tr>
    <tr>
        <td><b>monC</b></td>
        <td bgcolor="#FFFFFF">2</td>
        <td bgcolor="#FFFFFF">2</td>
        <td bgcolor="#FFFFFF">2</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#FFFFFF">1</td>
        </tr>
    <tr>
        <td><b>monPt</b></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#FFFFFF">1</td>
        </tr>
    <tr>
        <td><b>subhrPt</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>yr</b></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">2</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#FFFFFF">4</td>
        <td bgcolor="#FFFFFF">1</td>
        </tr>
    <tr>
        <td><b>yrPt</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    </table>
</div>
