ESGF CMIP6 data holdings for activity FAFMIP as of Wednesday 02 July 2025 09:55:02
<br><br>
The cells are shaded by how recently their latest datasets were published.
<br><br>
<table>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">More than 28 days</td>
        <td style="padding:4px; border: solid 1px black; background-color:#32E732">More than 7 days</td>
        <td style="padding:4px; border: solid 1px black; background-color:#15B715">Less than 7 days</td>
    </tr>
</table>
<br>
Number of 'datasets' [variables x (# of simulations)] from each model in support of each CMIP6 FAFMIP experiment.
<br><br>
<div style="overflow-x:auto;">
<table>
    <tr>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">model</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;"># of experiments</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">faf-all</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">faf-antwater-stress</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">faf-heat</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">faf-heat-NA0pct</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">faf-heat-NA50pct</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">faf-passiveheat</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">faf-stress</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">faf-water</th>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;"># of models</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">74</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">11</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">11</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">8</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">10</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">11</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">11</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">11</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">ACCESS-CM2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">7</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">215</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">216</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">215</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">215</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">216</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">216</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">216</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CAS-ESM2-0</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">7</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">20</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">20</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">20</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">20</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">20</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">18</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">18</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CESM2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">5</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">284</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">284</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">284</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">284</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">271</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CanESM5</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">8</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">341</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">346</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">342</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">346</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">346</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">342</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">342</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">341</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">FGOALS-g3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">7</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">25</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">28</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">26</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">26</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">25</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">25</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">25</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">GFDL-ESM2M</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">7</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">61</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">58</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">59</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">59</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">55</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">56</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">56</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">HadGEM3-GC31-LL</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">7</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">152</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">152</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">37</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">37</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">142</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">152</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">152</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MIROC6</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">7</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">262</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">298</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">180</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">218</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">262</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">298</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">298</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MPI-ESM1-2-HR</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">6</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">544</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">520</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">520</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">520</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">543</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">544</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MPI-ESM1-2-LR</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">6</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">687</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">687</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">687</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">687</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">686</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">686</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MRI-ESM2-0</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">7</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">271</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">265</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">265</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">265</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">264</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">265</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">267</td>
        </tr>
    </table>
</div>
<br><br>
Number of simulations [# of simulations] from each model in support of each CMIP6 FAFMIP experiment.
<br><br>
<div style="overflow-x:auto;">
<table>
    <tr>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">model</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">faf-all</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">faf-antwater-stress</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">faf-heat</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">faf-heat-NA0pct</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">faf-heat-NA50pct</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">faf-passiveheat</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">faf-stress</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">faf-water</th>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">ACCESS-CM2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CAS-ESM2-0</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CESM2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CanESM5</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">FGOALS-g3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">GFDL-ESM2M</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">HadGEM3-GC31-LL</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MIROC6</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MPI-ESM1-2-HR</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MPI-ESM1-2-LR</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MRI-ESM2-0</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        </tr>
    </table>
</div>
<br><br>
Number of variables from each model in support of each CMIP6 FAFMIP experiment.
<br><br>
<div style="overflow-x:auto;">
<table>
    <tr>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">model</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">faf-all</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">faf-antwater-stress</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">faf-heat</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">faf-heat-NA0pct</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">faf-heat-NA50pct</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">faf-passiveheat</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">faf-stress</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">faf-water</th>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">ACCESS-CM2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">187</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">187</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">187</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">187</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">187</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">187</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">187</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CAS-ESM2-0</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">20</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">20</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">20</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">20</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">20</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">18</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">18</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CESM2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">264</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">264</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">264</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">264</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">251</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CanESM5</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">262</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">267</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">263</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">267</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">267</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">263</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">263</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">262</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">FGOALS-g3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">25</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">28</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">26</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">26</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">25</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">25</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">25</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">GFDL-ESM2M</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">46</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">43</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">44</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">44</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">41</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">42</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">41</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">HadGEM3-GC31-LL</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">146</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">146</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">37</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">37</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">135</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">146</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">146</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MIROC6</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">164</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">198</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">111</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">147</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">164</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">198</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">198</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MPI-ESM1-2-HR</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">332</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">317</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">317</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">317</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">331</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">332</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MPI-ESM1-2-LR</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">446</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">446</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">446</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">446</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">445</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">445</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MRI-ESM2-0</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">244</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">240</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">240</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">240</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">239</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">240</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">240</td>
        </tr>
    </table>
</div>
<br><br>
Number of models providing output at each sampling frequency in support of each CMIP6 FAFMIP experiment.
<br><br>
<div style="overflow-x:auto;">
<table>
    <tr>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">frequency</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">faf-all</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">faf-antwater-stress</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">faf-heat</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">faf-heat-NA0pct</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">faf-heat-NA50pct</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">faf-passiveheat</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">faf-stress</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">faf-water</th>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">3hr</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">3hrPt</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">6hr</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">6hrPt</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">day</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">7</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">7</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">4</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">6</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">7</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">7</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">7</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">fx</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">8</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">9</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">5</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">7</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">8</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">8</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">8</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">mon</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">11</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">11</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">8</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">10</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">11</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">11</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">11</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">monC</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">monPt</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">yr</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">9</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">10</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">6</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">9</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">9</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">10</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">10</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">yrPt</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        </tr>
    </table>
</div>
