ESGF CMIP6 data holdings for activity LUMIP as of Tuesday 16 April 2019 15:24:56
<br><br>
The cells are shaded by how recently their latest datasets were published.
<br><br>
<table border="1" cellspacing="2" cellpadding="4">
    <tr>
        <td bgcolor="#BBF7BB">More than 28 days</td>
        <td bgcolor="#32E732">More than 7 days</td>
        <td bgcolor="#15B715">Less than 7 days</td>
    </tr>
</table>
<br>

Number of 'datasets' [variables x (# of simulations)] from each model in support of each CMIP6 LUMIP experiment.
<br><br>

<div style="overflow-x:auto;">
<table border="1" cellspacing="2" cellpadding="4">
    <tr>
        <th>model</th>
        <th># of experiments</th>
        <th>deforest-globe</th>
        <th>hist-noLu</th>
        <th>land-hist</th>
        <th>land-noLu</th>
        </tr>
    <tr>
        <td><b># of models</b></td>
        <td><b>4</b></td>
        <td><b>1</b></td>
        <td><b>1</b></td>
        <td><b>1</b></td>
        <td><b>1</b></td>
        </tr>
    <tr>
        <td><b>CESM2</b></td>
        <td><b>3</b></td>
        <td bgcolor="#15B715">306</td>
        <td bgcolor="#15B715">331</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#15B715">184</td>
        </tr>
    <tr>
        <td><b>GISS-E2-1-G</b></td>
        <td><b>1</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#BBF7BB">830</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    </table>
</div>
<br><br>

Number of simulations [# of simulations] from each model in support of each CMIP6 LUMIP experiment.
<br><br>

<div style="overflow-x:auto;">
<table border="1" cellspacing="2" cellpadding="4">
    <tr>
        <th>model</th>
        <th>deforest-globe</th>
        <th>hist-noLu</th>
        <th>land-hist</th>
        <th>land-noLu</th>
        </tr>
    <tr>
        <td><b>CESM2</b></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">1</td>
        </tr>
    <tr>
        <td><b>GISS-E2-1-G</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">5</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    </table>
</div>
<br><br>

Number of variables from each model in support of each CMIP6 LUMIP experiment.
<br><br>

<div style="overflow-x:auto;">
<table border="1" cellspacing="2" cellpadding="4">
    <tr>
        <th>model</th>
        <th>deforest-globe</th>
        <th>hist-noLu</th>
        <th>land-hist</th>
        <th>land-noLu</th>
        </tr>
    <tr>
        <td><b>CESM2</b></td>
        <td bgcolor="#FFFFFF">265</td>
        <td bgcolor="#FFFFFF">275</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">175</td>
        </tr>
    <tr>
        <td><b>GISS-E2-1-G</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">166</td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    </table>
</div>
<br><br>

Number of models providing output at each sampling frequency in support of each CMIP6 LUMIP experiment.
<br><br>

<div style="overflow-x:auto;">
<table border="1" cellspacing="2" cellpadding="4">
    <tr>
        <th>frequency</th>
        <th>deforest-globe</th>
        <th>hist-noLu</th>
        <th>land-hist</th>
        <th>land-noLu</th>
        </tr>
    <tr>
        <td><b>day</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>fx</b></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">1</td>
        </tr>
    <tr>
        <td><b>mon</b></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        </tr>
    <tr>
        <td><b>yr</b></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">1</td>
        </tr>
    <tr>
        <td><b>yrPt</b></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">1</td>
        </tr>
    </table>
</div>
