ESGF CMIP6 data holdings as of Wednesday 09 January 2019 09:21:32
<br><br>
Number of 'datasets' [variables x (# of simulations)]  from each model in support of each CMIP6 activity.
<br><br>
<table border="1" cellspacing="2" cellpadding="4">
<tr><th>source_id</th>
<th>C4MIP</th>
<th>CFMIP</th>
<th>CMIP</th>
<th>DAMIP</th>
<th>GeoMIP</th>
<th>ISMIP6</th>
<th>LUMIP</th>
<th>PMIP</th>
</tr>
<tr><td><b>BCC-CSM2-MR</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#A9F5A9">172</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
</tr>
<tr><td><b>CNRM-CM6-1</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#A9F5A9">3950</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
</tr>
<tr><td><b>CNRM-ESM2-1</b></td>
<td bgcolor="#A9F5A9">724</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#A9F5A9">3515</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
</tr>
<tr><td><b>EC-Earth3-LR</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#A9F5A9">51</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
</tr>
<tr><td><b>FGOALS-f3-L</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#A9F5A9">1</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
</tr>
<tr><td><b>GFDL-AM4</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#A9F5A9">69</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
</tr>
<tr><td><b>GFDL-CM4</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#A9F5A9">208</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
</tr>
<tr><td><b>GISS-E2-1-G</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#A9F5A9">166</td>
<td bgcolor="#A9F5A9">2884</td>
<td bgcolor="#A9F5A9">4150</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#A9F5A9">166</td>
<td bgcolor="#A9F5A9">830</td>
<td bgcolor="#CCCCCC"></td>
</tr>
<tr><td><b>IPSL-CM6A-LR</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#A9F5A9">872</td>
<td bgcolor="#A9F5A9">26743</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#A9F5A9">513</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#A9F5A9">1628</td>
</tr>
<tr><td><b>MIROC6</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#A9F5A9">538</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
</tr>
</table>
<br><br>
Number of 'datasets' [variables x (# of simulations)] from each model for each of the core experiments (DECK + historical).
<br><br>
<table border="1" cellspacing="2" cellpadding="4">
<tr><th>source_id</th>
<th>historical</th>
<th>piControl</th>
<th>1pctCO2</th>
<th>amip</th>
<th>abrupt-4xCO2</th>
</tr>
<tr><td><b>BCC-CSM2-MR</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#A9F5A9">145</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#A9F5A9">27</td>
</tr>
<tr><td><b>CNRM-CM6-1</b></td>
<td bgcolor="#A9F5A9">1135</td>
<td bgcolor="#A9F5A9">302</td>
<td bgcolor="#A9F5A9">387</td>
<td bgcolor="#A9F5A9">308</td>
<td bgcolor="#A9F5A9">1818</td>
</tr>
<tr><td><b>CNRM-ESM2-1</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#A9F5A9">440</td>
<td bgcolor="#A9F5A9">1515</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#A9F5A9">1008</td>
</tr>
<tr><td><b>EC-Earth3-LR</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#A9F5A9">51</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
</tr>
<tr><td><b>FGOALS-f3-L</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#A9F5A9">1</td>
<td bgcolor="#CCCCCC"></td>
</tr>
<tr><td><b>GFDL-AM4</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#A9F5A9">69</td>
<td bgcolor="#CCCCCC"></td>
</tr>
<tr><td><b>GFDL-CM4</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#A9F5A9">208</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
</tr>
<tr><td><b>GISS-E2-1-G</b></td>
<td bgcolor="#A9F5A9">1711</td>
<td bgcolor="#A9F5A9">176</td>
<td bgcolor="#A9F5A9">166</td>
<td bgcolor="#A9F5A9">665</td>
<td bgcolor="#A9F5A9">166</td>
</tr>
<tr><td><b>IPSL-CM6A-LR</b></td>
<td bgcolor="#A9F5A9">22522</td>
<td bgcolor="#A9F5A9">2381</td>
<td bgcolor="#A9F5A9">723</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#A9F5A9">724</td>
</tr>
<tr><td><b>MIROC6</b></td>
<td bgcolor="#A9F5A9">260</td>
<td bgcolor="#A9F5A9">26</td>
<td bgcolor="#A9F5A9">26</td>
<td bgcolor="#A9F5A9">200</td>
<td bgcolor="#A9F5A9">26</td>
</tr>
</table>
