ESGF CMIP6 data holdings as of Tuesday 29 January 2019 13:04:37
<br><br>
The cells are shaded by how recently their latest datasets were published.
<br><br>
<table border="1" cellspacing="2" cellpadding="4"><tr>
<td bgcolor="#BBF7BB">More than 28 days</td>
<td bgcolor="#32E732">More than 7 days</td>
<td bgcolor="#15B715">Less than 7 days</td>
</tr></table><br>
Number of 'datasets' [variables x (# of simulations)]  from each model in support of each CMIP6 activity.
<br><br>
<div style="overflow-x:auto;">
<table border="1" cellspacing="2" cellpadding="4">
<tr><th>source_id</th>
<th># of activities</th>
<th>AerChemMIP</th>
<th>C4MIP</th>
<th>CFMIP</th>
<th>CMIP</th>
<th>DAMIP</th>
<th>DCPP</th>
<th>GeoMIP</th>
<th>HighResMIP</th>
<th>ISMIP6</th>
<th>LUMIP</th>
<th>OMIP</th>
<th>PMIP</th>
<th>RFMIP</th>
<th>ScenarioMIP</th>
</tr>
<tr><td><b># of models</b></td>
<td><b>26</b></td>
<td><b>1</b></td>
<td><b>1</b></td>
<td><b>2</b></td>
<td><b>10</b></td>
<td><b>2</b></td>
<td><b>1</b></td>
<td><b>1</b></td>
<td><b>2</b></td>
<td><b>1</b></td>
<td><b>1</b></td>
<td><b>1</b></td>
<td><b>1</b></td>
<td><b>1</b></td>
<td><b>1</b></td>
</tr>
<tr><td><b>BCC-CSM2-MR</b></td>
<td><b>1</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#15B715">1749</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
</tr>
<tr><td><b>BCC-ESM1</b></td>
<td><b>1</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#15B715">674</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
</tr>
<tr><td><b>CNRM-CM6-1</b></td>
<td><b>1</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#15B715">4326</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
</tr>
<tr><td><b>CNRM-ESM2-1</b></td>
<td><b>2</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#BBF7BB">724</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#15B715">4166</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
</tr>
<tr><td><b>FGOALS-f3-L</b></td>
<td><b>1</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#BBF7BB">1</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
</tr>
<tr><td><b>GFDL-AM4</b></td>
<td><b>1</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#BBF7BB">69</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
</tr>
<tr><td><b>GFDL-CM4</b></td>
<td><b>1</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#BBF7BB">208</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
</tr>
<tr><td><b>GISS-E2-1-G</b></td>
<td><b>5</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#BBF7BB">166</td>
<td bgcolor="#32E732">2884</td>
<td bgcolor="#32E732">4150</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#BBF7BB">166</td>
<td bgcolor="#32E732">830</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
</tr>
<tr><td><b>IPSL-CM6A-ATM-HR</b></td>
<td><b>1</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#15B715">253</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
</tr>
<tr><td><b>IPSL-CM6A-LR</b></td>
<td><b>11</b></td>
<td bgcolor="#15B715">9562</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#32E732">3447</td>
<td bgcolor="#15B715">38113</td>
<td bgcolor="#15B715">3449</td>
<td bgcolor="#15B715">18651</td>
<td bgcolor="#BBF7BB">513</td>
<td bgcolor="#15B715">274</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#15B715">642</td>
<td bgcolor="#BBF7BB">1628</td>
<td bgcolor="#15B715">4288</td>
<td bgcolor="#15B715">11560</td>
</tr>
<tr><td><b>MIROC6</b></td>
<td><b>1</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#BBF7BB">538</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
</tr>
</table>
</div>
<br><br>
Number of 'datasets' [variables x (# of simulations)] from each model for each of the core experiments (DECK + historical).
<br><br>
<div style="overflow-x:auto;">
<table border="1" cellspacing="2" cellpadding="4">
<tr><th>source_id</th>
<th># of expts</th>
<th>historical</th>
<th>piControl</th>
<th>1pctCO2</th>
<th>amip</th>
<th>abrupt-4xCO2</th>
</tr>
<tr><td><b># of models</b></td>
<td><b>34</b></td>
<td><b>7</b></td>
<td><b>8</b></td>
<td><b>6</b></td>
<td><b>7</b></td>
<td><b>6</b></td>
</tr>
<tr><td><b>BCC-CSM2-MR</b></td>
<td><b>4</b></td>
<td bgcolor="#15B715">577</td>
<td bgcolor="#32E732">146</td>
<td bgcolor="#32E732">148</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#15B715">147</td>
</tr>
<tr><td><b>BCC-ESM1</b></td>
<td><b>2</b></td>
<td bgcolor="#15B715">537</td>
<td bgcolor="#15B715">137</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
</tr>
<tr><td><b>CNRM-CM6-1</b></td>
<td><b>5</b></td>
<td bgcolor="#15B715">1319</td>
<td bgcolor="#BBF7BB">302</td>
<td bgcolor="#BBF7BB">387</td>
<td bgcolor="#15B715">500</td>
<td bgcolor="#BBF7BB">1818</td>
</tr>
<tr><td><b>CNRM-ESM2-1</b></td>
<td><b>5</b></td>
<td bgcolor="#15B715">103</td>
<td bgcolor="#BBF7BB">440</td>
<td bgcolor="#BBF7BB">1515</td>
<td bgcolor="#15B715">548</td>
<td bgcolor="#BBF7BB">1008</td>
</tr>
<tr><td><b>FGOALS-f3-L</b></td>
<td><b>1</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#BBF7BB">1</td>
<td bgcolor="#CCCCCC"></td>
</tr>
<tr><td><b>GFDL-AM4</b></td>
<td><b>1</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#BBF7BB">69</td>
<td bgcolor="#CCCCCC"></td>
</tr>
<tr><td><b>GFDL-CM4</b></td>
<td><b>1</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#BBF7BB">208</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
</tr>
<tr><td><b>GISS-E2-1-G</b></td>
<td><b>5</b></td>
<td bgcolor="#32E732">1711</td>
<td bgcolor="#BBF7BB">176</td>
<td bgcolor="#BBF7BB">166</td>
<td bgcolor="#BBF7BB">665</td>
<td bgcolor="#BBF7BB">166</td>
</tr>
<tr><td><b>IPSL-CM6A-ATM-HR</b></td>
<td><b>0</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
</tr>
<tr><td><b>IPSL-CM6A-LR</b></td>
<td><b>5</b></td>
<td bgcolor="#32E732">22546</td>
<td bgcolor="#BBF7BB">2381</td>
<td bgcolor="#BBF7BB">723</td>
<td bgcolor="#15B715">3373</td>
<td bgcolor="#15B715">8697</td>
</tr>
<tr><td><b>MIROC6</b></td>
<td><b>5</b></td>
<td bgcolor="#BBF7BB">260</td>
<td bgcolor="#BBF7BB">26</td>
<td bgcolor="#BBF7BB">26</td>
<td bgcolor="#BBF7BB">200</td>
<td bgcolor="#BBF7BB">26</td>
</tr>
</table>
</div>
<br><br>
Number of experiments and simulations [(# of experiments) / (# of simulations)] from each model in support of each CMIP6 activity.
<br><br>
<div style="overflow-x:auto;">
<table border="1" cellspacing="2" cellpadding="4">
<tr><th>source_id</th>
<th>AerChemMIP</th>
<th>C4MIP</th>
<th>CFMIP</th>
<th>CMIP</th>
<th>DAMIP</th>
<th>DCPP</th>
<th>GeoMIP</th>
<th>HighResMIP</th>
<th>ISMIP6</th>
<th>LUMIP</th>
<th>OMIP</th>
<th>PMIP</th>
<th>RFMIP</th>
<th>ScenarioMIP</th>
</tr>
<tr><td><b>BCC-CSM2-MR</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#FFFFFF">6/10</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
</tr>
<tr><td><b>BCC-ESM1</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#FFFFFF">2/4</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
</tr>
<tr><td><b>CNRM-CM6-1</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#FFFFFF">5/12</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
</tr>
<tr><td><b>CNRM-ESM2-1</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#FFFFFF">2/2</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#FFFFFF">7/10</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
</tr>
<tr><td><b>FGOALS-f3-L</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#FFFFFF">1/1</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
</tr>
<tr><td><b>GFDL-AM4</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#FFFFFF">1/1</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
</tr>
<tr><td><b>GFDL-CM4</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#FFFFFF">1/1</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
</tr>
<tr><td><b>GISS-E2-1-G</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#FFFFFF">1/1</td>
<td bgcolor="#FFFFFF">5/18</td>
<td bgcolor="#FFFFFF">5/25</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#FFFFFF">1/1</td>
<td bgcolor="#FFFFFF">1/5</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
</tr>
<tr><td><b>IPSL-CM6A-ATM-HR</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#FFFFFF">1/1</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
</tr>
<tr><td><b>IPSL-CM6A-LR</b></td>
<td bgcolor="#FFFFFF">3/18</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#FFFFFF">15/15</td>
<td bgcolor="#FFFFFF">6/57</td>
<td bgcolor="#FFFFFF">1/10</td>
<td bgcolor="#FFFFFF">3/51</td>
<td bgcolor="#FFFFFF">1/1</td>
<td bgcolor="#FFFFFF">1/1</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#FFFFFF">1/2</td>
<td bgcolor="#FFFFFF">2/4</td>
<td bgcolor="#FFFFFF">8/32</td>
<td bgcolor="#FFFFFF">4/14</td>
</tr>
<tr><td><b>MIROC6</b></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#FFFFFF">5/23</td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
<td bgcolor="#CCCCCC"></td>
</tr>
</table>
</div>
