  <hr>
  <footer>
    <div id="footer-slim" class="footer" >
      <div class="container">
        <hr />
        <div class="row">
          <div class="span12">
            <a class="llnl" href="https://www.llnl.gov/" target="_blank"><img src="{{site.baseurl}}/Data/media/images/llnl.png" alt="LLNL" border="0" /></a>
            <p>Lawrence Livermore National Laboratory<br />7000 East Avenue &bull; Livermore, CA 94550</p>
            <p>Operated by Lawrence Livermore National Security, LLC, for the<br />Department of Energy's National Nuclear Security Administration.</p>
            <a class="nnsa" href="https://nnsa.energy.gov/" target="_blank"><img src="{{site.baseurl}}/Data/media/images/nnsa.png" alt="NNSA" border="0" /></a>
            <a class="doe" href="https://energy.gov/" target="_blank"><img src="{{site.baseurl}}/Data/media/images/doe_small.png" alt="U.S. DOE" border="0" /></a>
            <a class="llns" href="http://www.llnsllc.com/" target="_blank"><img src="{{site.baseurl}}/Data/media/images/llns.png" alt="LLNS" border="0" /></a>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="span12 subfooter">
            <span>UCRL-WEB-152471 &nbsp;|&nbsp;&nbsp;</span><span><a href="https://www.llnl.gov/disclaimer" target="_blank">Privacy &amp; Legal Notice</a> &nbsp;&nbsp;|&nbsp;&nbsp;</span>
            <span>Learn about the Department of Energy’s &nbsp;</span><a href="https://doe.responsibledisclosure.com/hc/en-us">Vulnerability Disclosure Program</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
