  <hr>
  <footer>
    <div id="footer-slim" class="footer">
      <div class="container">
        <hr />
        <div class="row">
          <div class="span12">
            <a href="http://www.llnl.gov/" target="_blank"><img src="{{site.baseurl}}/Data/media/images/llnl.png" alt="LLNL" border="0" /></a>
            <p>Lawrence Livermore National Laboratory<br />7000 East Avenue &bull; Livermore, CA 94550</p>
            <p>Operated by Lawrence Livermore National Security, LLC, for the<br />Department of Energy's National Nuclear Security Administration.</p>
            <a class="nnsa" href="http://nnsa.energy.gov/" target="_blank"><img src="{{site.baseurl}}/Data/media/images/nnsa.png" alt="NNSA" border="0" /></a>
            <a class="doe" href="http://energy.gov/" target="_blank"><img src="{{site.baseurl}}Data/media/images/doe_small.png" alt="U.S. DOE" border="0" /></a>
            <a class="llns" href="http://www.llnsllc.com/" target="_blank"><img src="{{site.baseurl}}/Data/media/images/llns.png" alt="LLNS" border="0" /></a>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="span12 subfooter">
            <span>LLNL-WEB-###### &nbsp;|&nbsp;&nbsp;</span><a href="https://www.llnl.gov/disclaimer.html" target="_blank">Privacy &amp; Legal Notice</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
