<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta charset="utf-8"/>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="{{ site.author }}">
<meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% endif %}">

<title>{{ page.title }}</title>

<link rel="stylesheet" href="{{site.baseurl}}/Data/media/css/bootstrap.min.css"/>
<link rel="stylesheet" href="{{site.baseurl}}/Data/media/css/bootstrap.mods.css"/>
<link rel="stylesheet" href="{{site.baseurl}}/Data/media/css/shadowbox.css"/>
<link rel="stylesheet" href="{{site.baseurl}}/Data/media/css/site.css"/>
<link rel="stylesheet" href="{{site.baseurl}}/Data/media/css/main.css"/>
<link rel="stylesheet" href="{{site.baseurl}}/Data/media/css/head.css"/>
<link rel="stylesheet" href="{{site.baseurl}}/Data/media/css/nav.css"/>

<!-- favicon -->
<link rel="shortcut icon" href="{{site.baseurl}}/Data/media/images/220324_input4MIPsEarth-w16xh16.png">

<!-- LLNL Analytics -->
<script src="{{site.baseurl}}/Data/media/js/matomo.js"></script>

<!-- Digital Analytics Program (DAP) -->
<script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=DOE&amp;subagency=LLNL&amp;sdor=fda.gov&amp;dclink=true" language="javascript" id="_fed_an_ua_tag"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script type="text/javascript" src="{{site.baseurl}}/Data/media/js/googleAnalyticsTag.js" ></script>