<div id="header-fat" class="navbar navbar-fixed-top navbar-noFixed">
    <div id="brand" class="navbar-inner" style="min-height: 65px">
        <div class="container header" id="header">
            <a class="brand pull-left" href="{{site.baseurl}}/index.html">
                Program for Climate Model Diagnosis & Intercomparison
            </a>
            <form>
                <div class="span3 pull-right">
                    <script>
                        (function () {
                            var cx = '016944413299698211454:hwtgfzsj7h8';
                            var gcse = document.createElement('script');
                            gcse.type = 'text/javascript';
                            gcse.async = true;
                            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                            var s = document.getElementsByTagName('script')[0];
                            s.parentNode.insertBefore(gcse, s);
                        })();
                    </script>
                    <gcse:search></gcse:search>
                </div>
            </form>
        </div>
    </div>
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="nav-collapse">
                <ul class="nav">
                    <li>
                        <a href="{{site.baseurl}}/index.html">Home</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{site.baseurl}}/about.html">Overview</a></li>
                            <li><a href="{{site.baseurl}}/staff/">Staff</a></li>
                            <li><a href="{{site.baseurl}}/location.html">Location</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{{site.baseurl}}/research" class="dropdown-toggle" data-toggle="dropdown">Research<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{site.baseurl}}/research/">Overview</a></li>
                            <li><a href="{{site.baseurl}}/research/researchHighlights.html">Highlights</a></li>
                            <li><a href="{{site.baseurl}}/research/DandA">D & A</a></li>
                            <li><a href="{{site.baseurl}}/research/metrics">Metrics</a></li>
                            <li><a href="{{site.baseurl}}/research/diagnostics">Diagnostics</a></li>
                            <li class="divider"></li>
                            <li><a href="{{site.baseurl}}/projects/ape">APE</a></li>
                            <li><a href="{{site.baseurl}}/projects/capt">CAPT</a></li>
                            <li><a href="{{site.baseurl}}/projects/cloud_feedbacks">Cloud Feedback</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{{site.baseurl}}/CMIP6" class="dropdown-toggle" data-toggle="dropdown">CMIP6<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{site.baseurl}}/CMIP6/">Overview</a></li>
                            <li><a href="{{site.baseurl}}/CMIP6/Guide/dataUsers.html">Data Users Guide</a></li>
                            <li><a href="{{site.baseurl}}/CMIP6/ArchiveStatistics/esgf_data_holdings/">Current Data Holdings</a></li>
                            <li><a href="http://esgf-node.llnl.gov/search/cmip6">CMIP6 Data Search</a></li>
                        </ul>
                    </li>   
                    <li class="dropdown">
                        <a href="{{site.baseurl}}/mips" class="dropdown-toggle" data-toggle="dropdown">MIPs<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{site.baseurl}}/mips/">Overview</a></li>
                            <li><a href="{{site.baseurl}}/CMIP6">CMIP6</a></li>
                            <li><a href="{{site.baseurl}}/mips/input4MIPs">input4MIPs</a></li>
                            <li><a href="{{site.baseurl}}/mips/obs4MIPs">obs4MIPs</a></li>
                            <li><a href="{{site.baseurl}}/mips/cmip5">CMIP5</a></li>
                            <li><a href="{{site.baseurl}}/mips/cmip3">CMIP3</a></li>
                            <li><a href="{{site.baseurl}}/mips/cmip2">CMIP2</a></li>
                            <li><a href="{{site.baseurl}}/mips/cmip">CMIP1</a></li>
                            <li><a href="{{site.baseurl}}/mips/amip">AMIP</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Publications<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="https://cmip-publications.llnl.gov/view/CMIP5/" target="_blank">CMIP</a></li>
                            <li><a href="{{site.baseurl}}/publications.html">PCMDI</a></li>
                            <li><a href="{{site.baseurl}}/report/report.html">Reports</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{{site.baseurl}}/software" class="dropdown-toggle" data-toggle="dropdown">Software<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{site.baseurl}}/software">Overview</a></li>
			                <li><a href="http://cmor.llnl.gov" target="_blank">CMOR</a></li>
                            <li><a href="https://github.com/PCMDI/pcmdi_metrics">PCMDI Metrics Package</a></li>
                            <li><a href="http://cfconventions.org" target="_blank">CF Conventions</a></li>
                            <li><a href="http://esgf.llnl.gov" target="_blank">ESGF</a></li>
                            <li><a href="https://esgf-node.llnl.gov" target="_blank">ESGF Node</a></li>
                            <li><a href="http://uvcdat.llnl.gov" target="_blank">UV-CDAT</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="http://esgf-node.llnl.gov" target="_blank">CMIP Data (ESGF Portal)</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
