<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="{{site.baseurl}}/Data/media/js/links.js"></script>
<script src="{{site.baseurl}}/Data/media/js/libs/bootstrap.js"></script>
<script src="{{site.baseurl}}/Data/media/js/libs/bootstrap-button.js"></script>
<script src="{{site.baseurl}}/Data/media/js/libs/bootstrap-collapse.js"></script>
<script src="{{site.baseurl}}/Data/media/js/libs/bootstrap-dropdown.js"></script>
<script src="{{site.baseurl}}/Data/media/js/libs/bootstrap-transition.js"></script>
<script src="{{site.baseurl}}/Data/media/js/libs/bootstrap-alert.js"></script>
<script src="{{site.baseurl}}/Data/media/js/libs/bootstrap-modal.js"></script>
<script src="{{site.baseurl}}/Data/media/js/libs/bootstrap-scrollspy.js"></script>
<script src="{{site.baseurl}}/Data/media/js/libs/bootstrap-tab.js"></script>
<script src="{{site.baseurl}}/Data/media/js/libs/bootstrap-tooltip.js"></script>
<script src="{{site.baseurl}}/Data/media/js/libs/bootstrap-popover.js"></script>
<script src="{{site.baseurl}}/Data/media/js/libs/bootstrap-carousel.js"></script>
<script src="{{site.baseurl}}/Data/media/js/libs/bootstrap-typeahead.js"></script>
<script src="{{site.baseurl}}/Data/media/js/shadowbox.js"></script>
<script src="{{site.baseurl}}/Data/media/js/main.js"></script>
<script src="{{site.baseurl}}/Data/media/js/global.js"></script>