<script type="text/javascript" charset="utf-8" src="https://pcmdi.github.io/assets/jquery/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="https://pcmdi.github.io/assets/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" charset="utf-8" src="https://pcmdi.github.io/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="{{site.baseurl}}/Data/media/js/links.js"></script>
<script src="{{site.baseurl}}/Data/media/js/shadowbox.js"></script>
<script src="{{site.baseurl}}/Data/media/js/main.js"></script>
<script src="{{site.baseurl}}/Data/media/js/global.js"></script>
<script src="{{ '/uswds-assets/js/uswds.min.js' | relative_url }}"></script>