<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="index.html">PCMDI</a>
      <div class="nav-collapse">
        <ul class="nav">

          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">THING 1<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Blue fish</a></li>
          </ul>
          </li>

          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">THING 2<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Red fish</a></li>
          </ul>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
<div style="margin-bottom: 60px;"></div>
