ESGF CMIP6 data holdings for activity ScenarioMIP as of Tuesday 16 April 2019 15:24:56
<br><br>
The cells are shaded by how recently their latest datasets were published.
<br><br>
<table border="1" cellspacing="2" cellpadding="4">
    <tr>
        <td bgcolor="#BBF7BB">More than 28 days</td>
        <td bgcolor="#32E732">More than 7 days</td>
        <td bgcolor="#15B715">Less than 7 days</td>
    </tr>
</table>
<br>

Number of 'datasets' [variables x (# of simulations)] from each model in support of each CMIP6 ScenarioMIP experiment.
<br><br>

<div style="overflow-x:auto;">
<table border="1" cellspacing="2" cellpadding="4">
    <tr>
        <th>model</th>
        <th># of experiments</th>
        <th>ssp119</th>
        <th>ssp126</th>
        <th>ssp245</th>
        <th>ssp370</th>
        <th>ssp434</th>
        <th>ssp460</th>
        <th>ssp534-over</th>
        <th>ssp585</th>
        </tr>
    <tr>
        <td><b># of models</b></td>
        <td><b>31</b></td>
        <td><b>3</b></td>
        <td><b>5</b></td>
        <td><b>5</b></td>
        <td><b>5</b></td>
        <td><b>4</b></td>
        <td><b>3</b></td>
        <td><b>2</b></td>
        <td><b>4</b></td>
        </tr>
    <tr>
        <td><b>BCC-CSM2-MR</b></td>
        <td><b>1</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#15B715">9</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>CNRM-CM6-1</b></td>
        <td><b>4</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#BBF7BB">308</td>
        <td bgcolor="#BBF7BB">279</td>
        <td bgcolor="#BBF7BB">435</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#BBF7BB">306</td>
        </tr>
    <tr>
        <td><b>CNRM-ESM2-1</b></td>
        <td><b>3</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#15B715">481</td>
        <td bgcolor="#15B715">655</td>
        <td bgcolor="#15B715">155</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>CanESM5</b></td>
        <td><b>8</b></td>
        <td bgcolor="#15B715">589</td>
        <td bgcolor="#15B715">1249</td>
        <td bgcolor="#15B715">1260</td>
        <td bgcolor="#15B715">1257</td>
        <td bgcolor="#15B715">373</td>
        <td bgcolor="#15B715">305</td>
        <td bgcolor="#15B715">305</td>
        <td bgcolor="#15B715">1250</td>
        </tr>
    <tr>
        <td><b>IPSL-CM6A-LR</b></td>
        <td><b>7</b></td>
        <td bgcolor="#15B715">689</td>
        <td bgcolor="#15B715">2304</td>
        <td bgcolor="#BBF7BB">1508</td>
        <td bgcolor="#BBF7BB">8430</td>
        <td bgcolor="#32E732">697</td>
        <td bgcolor="#32E732">754</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#BBF7BB">778</td>
        </tr>
    <tr>
        <td><b>MRI-ESM2-0</b></td>
        <td><b>8</b></td>
        <td bgcolor="#BBF7BB">54</td>
        <td bgcolor="#BBF7BB">54</td>
        <td bgcolor="#BBF7BB">270</td>
        <td bgcolor="#BBF7BB">54</td>
        <td bgcolor="#BBF7BB">54</td>
        <td bgcolor="#BBF7BB">54</td>
        <td bgcolor="#BBF7BB">54</td>
        <td bgcolor="#BBF7BB">54</td>
        </tr>
    </table>
</div>
<br><br>

Number of simulations [# of simulations] from each model in support of each CMIP6 ScenarioMIP experiment.
<br><br>

<div style="overflow-x:auto;">
<table border="1" cellspacing="2" cellpadding="4">
    <tr>
        <th>model</th>
        <th>ssp119</th>
        <th>ssp126</th>
        <th>ssp245</th>
        <th>ssp370</th>
        <th>ssp434</th>
        <th>ssp460</th>
        <th>ssp534-over</th>
        <th>ssp585</th>
        </tr>
    <tr>
        <td><b>BCC-CSM2-MR</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>CNRM-CM6-1</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">1</td>
        </tr>
    <tr>
        <td><b>CNRM-ESM2-1</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>CanESM5</b></td>
        <td bgcolor="#FFFFFF">5</td>
        <td bgcolor="#FFFFFF">10</td>
        <td bgcolor="#FFFFFF">10</td>
        <td bgcolor="#FFFFFF">10</td>
        <td bgcolor="#FFFFFF">5</td>
        <td bgcolor="#FFFFFF">5</td>
        <td bgcolor="#FFFFFF">5</td>
        <td bgcolor="#FFFFFF">10</td>
        </tr>
    <tr>
        <td><b>IPSL-CM6A-LR</b></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#FFFFFF">2</td>
        <td bgcolor="#FFFFFF">10</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">1</td>
        </tr>
    <tr>
        <td><b>MRI-ESM2-0</b></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">5</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        </tr>
    </table>
</div>
<br><br>

Number of variables from each model in support of each CMIP6 ScenarioMIP experiment.
<br><br>

<div style="overflow-x:auto;">
<table border="1" cellspacing="2" cellpadding="4">
    <tr>
        <th>model</th>
        <th>ssp119</th>
        <th>ssp126</th>
        <th>ssp245</th>
        <th>ssp370</th>
        <th>ssp434</th>
        <th>ssp460</th>
        <th>ssp534-over</th>
        <th>ssp585</th>
        </tr>
    <tr>
        <td><b>BCC-CSM2-MR</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">9</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>CNRM-CM6-1</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">247</td>
        <td bgcolor="#FFFFFF">229</td>
        <td bgcolor="#FFFFFF">297</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">247</td>
        </tr>
    <tr>
        <td><b>CNRM-ESM2-1</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">427</td>
        <td bgcolor="#FFFFFF">503</td>
        <td bgcolor="#FFFFFF">152</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>CanESM5</b></td>
        <td bgcolor="#FFFFFF">108</td>
        <td bgcolor="#FFFFFF">112</td>
        <td bgcolor="#FFFFFF">112</td>
        <td bgcolor="#FFFFFF">112</td>
        <td bgcolor="#FFFFFF">108</td>
        <td bgcolor="#FFFFFF">52</td>
        <td bgcolor="#FFFFFF">52</td>
        <td bgcolor="#FFFFFF">112</td>
        </tr>
    <tr>
        <td><b>IPSL-CM6A-LR</b></td>
        <td bgcolor="#FFFFFF">497</td>
        <td bgcolor="#FFFFFF">564</td>
        <td bgcolor="#FFFFFF">552</td>
        <td bgcolor="#FFFFFF">560</td>
        <td bgcolor="#FFFFFF">502</td>
        <td bgcolor="#FFFFFF">552</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">574</td>
        </tr>
    <tr>
        <td><b>MRI-ESM2-0</b></td>
        <td bgcolor="#FFFFFF">54</td>
        <td bgcolor="#FFFFFF">54</td>
        <td bgcolor="#FFFFFF">54</td>
        <td bgcolor="#FFFFFF">54</td>
        <td bgcolor="#FFFFFF">54</td>
        <td bgcolor="#FFFFFF">54</td>
        <td bgcolor="#FFFFFF">54</td>
        <td bgcolor="#FFFFFF">54</td>
        </tr>
    </table>
</div>
<br><br>

Number of models providing output at each sampling frequency in support of each CMIP6 ScenarioMIP experiment.
<br><br>

<div style="overflow-x:auto;">
<table border="1" cellspacing="2" cellpadding="4">
    <tr>
        <th>frequency</th>
        <th>ssp119</th>
        <th>ssp126</th>
        <th>ssp245</th>
        <th>ssp370</th>
        <th>ssp434</th>
        <th>ssp460</th>
        <th>ssp534-over</th>
        <th>ssp585</th>
        </tr>
    <tr>
        <td><b>1hr</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>3hr</b></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#FFFFFF">2</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">2</td>
        </tr>
    <tr>
        <td><b>3hrPt</b></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#FFFFFF">2</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">2</td>
        </tr>
    <tr>
        <td><b>6hr</b></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">1</td>
        </tr>
    <tr>
        <td><b>6hrPt</b></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">2</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">2</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">2</td>
        </tr>
    <tr>
        <td><b>day</b></td>
        <td bgcolor="#FFFFFF">2</td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#FFFFFF">4</td>
        <td bgcolor="#FFFFFF">4</td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#FFFFFF">2</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">3</td>
        </tr>
    <tr>
        <td><b>dec</b></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">1</td>
        </tr>
    <tr>
        <td><b>fx</b></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">2</td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#FFFFFF">2</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">2</td>
        </tr>
    <tr>
        <td><b>mon</b></td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#FFFFFF">4</td>
        <td bgcolor="#FFFFFF">5</td>
        <td bgcolor="#FFFFFF">5</td>
        <td bgcolor="#FFFFFF">4</td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#FFFFFF">2</td>
        <td bgcolor="#FFFFFF">4</td>
        </tr>
    <tr>
        <td><b>monC</b></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">1</td>
        </tr>
    <tr>
        <td><b>monPt</b></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">1</td>
        </tr>
    <tr>
        <td><b>subhrPt</b></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">3</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        </tr>
    <tr>
        <td><b>yr</b></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">1</td>
        </tr>
    <tr>
        <td><b>yrPt</b></td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#FFFFFF">1</td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFFFFF">1</td>
        </tr>
    </table>
</div>
