ESGF CMIP6 data holdings for activity LS3MIP as of Tuesday 16 April 2019 15:24:56
<br><br>
The cells are shaded by how recently their latest datasets were published.
<br><br>
<table border="1" cellspacing="2" cellpadding="4">
    <tr>
        <td bgcolor="#BBF7BB">More than 28 days</td>
        <td bgcolor="#32E732">More than 7 days</td>
        <td bgcolor="#15B715">Less than 7 days</td>
    </tr>
</table>
<br>

Number of 'datasets' [variables x (# of simulations)] from each model in support of each CMIP6 LS3MIP experiment.
<br><br>

<div style="overflow-x:auto;">
<table border="1" cellspacing="2" cellpadding="4">
    <tr>
        <th>model</th>
        <th># of experiments</th>
        <th>land-hist</th>
        </tr>
    <tr>
        <td><b># of models</b></td>
        <td><b>1</b></td>
        <td><b>1</b></td>
        </tr>
    <tr>
        <td><b>CESM2</b></td>
        <td><b>1</b></td>
        <td bgcolor="#15B715">196</td>
        </tr>
    </table>
</div>
<br><br>

Number of simulations [# of simulations] from each model in support of each CMIP6 LS3MIP experiment.
<br><br>

<div style="overflow-x:auto;">
<table border="1" cellspacing="2" cellpadding="4">
    <tr>
        <th>model</th>
        <th>land-hist</th>
        </tr>
    <tr>
        <td><b>CESM2</b></td>
        <td bgcolor="#FFFFFF">1</td>
        </tr>
    </table>
</div>
<br><br>

Number of variables from each model in support of each CMIP6 LS3MIP experiment.
<br><br>

<div style="overflow-x:auto;">
<table border="1" cellspacing="2" cellpadding="4">
    <tr>
        <th>model</th>
        <th>land-hist</th>
        </tr>
    <tr>
        <td><b>CESM2</b></td>
        <td bgcolor="#FFFFFF">187</td>
        </tr>
    </table>
</div>
<br><br>

Number of models providing output at each sampling frequency in support of each CMIP6 LS3MIP experiment.
<br><br>

<div style="overflow-x:auto;">
<table border="1" cellspacing="2" cellpadding="4">
    <tr>
        <th>frequency</th>
        <th>land-hist</th>
        </tr>
    <tr>
        <td><b>fx</b></td>
        <td bgcolor="#FFFFFF">1</td>
        </tr>
    <tr>
        <td><b>mon</b></td>
        <td bgcolor="#FFFFFF">1</td>
        </tr>
    <tr>
        <td><b>yr</b></td>
        <td bgcolor="#FFFFFF">1</td>
        </tr>
    <tr>
        <td><b>yrPt</b></td>
        <td bgcolor="#FFFFFF">1</td>
        </tr>
    </table>
</div>
