ESGF CMIP6 data holdings for activity LS3MIP as of Wednesday 02 July 2025 09:55:02
<br><br>
The cells are shaded by how recently their latest datasets were published.
<br><br>
<table>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">More than 28 days</td>
        <td style="padding:4px; border: solid 1px black; background-color:#32E732">More than 7 days</td>
        <td style="padding:4px; border: solid 1px black; background-color:#15B715">Less than 7 days</td>
    </tr>
</table>
<br>
Number of 'datasets' [variables x (# of simulations)] from each model in support of each CMIP6 LS3MIP experiment.
<br><br>
<div style="overflow-x:auto;">
<table>
    <tr>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">model</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;"># of experiments</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">amip-lfmip-pObs</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">amip-lfmip-pdLC</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">amip-lfmip-rmLC</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">land-hist</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">land-hist-cruNcep</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">land-hist-princeton</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">land-hist-wfdei</th>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;"># of models</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">49</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">7</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">7</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">12</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">10</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">8</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">4</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">BCC-CSM2-MR</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">40</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CESM2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">5</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">292</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">292</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">203</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">188</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">190</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CMCC-ESM2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">414</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">416</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">140</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CNRM-CM6-1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">7</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">179</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">358</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">358</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">153</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">149</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">149</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">148</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CNRM-ESM2-1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">4</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">229</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">225</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">225</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">225</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">E3SM-1-1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">73</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">73</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">73</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">EC-Earth3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">200</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">200</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">FGOALS-g3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">4</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">16</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">16</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">16</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">16</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">GISS-E2-1-G</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">6256</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">HadGEM3-GC31-LL</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">48</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">48</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">IPSL-CM6A-LR</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">4</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">544</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">544</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">206</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">207</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MIROC6</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">6</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">182</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">182</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">111</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">115</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">115</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">119</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MPI-ESM1-2-LR</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">5</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">714</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">714</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">252</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">139</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">139</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">UKESM1-0-LL</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">71</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">71</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    </table>
</div>
<br><br>
Number of simulations [# of simulations] from each model in support of each CMIP6 LS3MIP experiment.
<br><br>
<div style="overflow-x:auto;">
<table>
    <tr>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">model</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">amip-lfmip-pObs</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">amip-lfmip-pdLC</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">amip-lfmip-rmLC</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">land-hist</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">land-hist-cruNcep</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">land-hist-princeton</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">land-hist-wfdei</th>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">BCC-CSM2-MR</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CESM2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CMCC-ESM2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CNRM-CM6-1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CNRM-ESM2-1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">E3SM-1-1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">EC-Earth3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">FGOALS-g3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">GISS-E2-1-G</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">30</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">HadGEM3-GC31-LL</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">IPSL-CM6A-LR</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MIROC6</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MPI-ESM1-2-LR</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">UKESM1-0-LL</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    </table>
</div>
<br><br>
Number of variables from each model in support of each CMIP6 LS3MIP experiment.
<br><br>
<div style="overflow-x:auto;">
<table>
    <tr>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">model</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">amip-lfmip-pObs</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">amip-lfmip-pdLC</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">amip-lfmip-rmLC</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">land-hist</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">land-hist-cruNcep</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">land-hist-princeton</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">land-hist-wfdei</th>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">BCC-CSM2-MR</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">40</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CESM2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">141</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">141</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">169</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">178</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">180</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CMCC-ESM2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">186</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">188</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">121</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CNRM-CM6-1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">147</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">147</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">147</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">117</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">113</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">113</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">113</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CNRM-ESM2-1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">193</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">189</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">189</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">189</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">E3SM-1-1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">73</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">73</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">73</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">EC-Earth3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">75</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">75</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">FGOALS-g3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">16</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">16</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">16</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">16</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">GISS-E2-1-G</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">270</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">HadGEM3-GC31-LL</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">35</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">35</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">IPSL-CM6A-LR</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">221</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">221</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">165</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">165</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MIROC6</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">70</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">70</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">75</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">77</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">77</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">81</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MPI-ESM1-2-LR</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">191</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">191</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">111</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">111</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">111</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">UKESM1-0-LL</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">58</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">58</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    </table>
</div>
<br><br>
Number of models providing output at each sampling frequency in support of each CMIP6 LS3MIP experiment.
<br><br>
<div style="overflow-x:auto;">
<table>
    <tr>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">frequency</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">amip-lfmip-pObs</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">amip-lfmip-pdLC</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">amip-lfmip-rmLC</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">land-hist</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">land-hist-cruNcep</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">land-hist-princeton</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">land-hist-wfdei</th>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">3hr</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">3hrPt</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">6hr</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">6hrPt</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">day</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">6</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">6</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">11</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">8</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">5</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">4</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">fx</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">5</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">5</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">8</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">7</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">6</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">mon</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">7</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">7</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">12</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">10</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">8</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">4</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">monC</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">yr</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">4</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">4</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">yrPt</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">4</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    </table>
</div>
