ESGF CMIP6 data holdings for activity CCCma as of Wednesday 02 July 2025 09:55:02
<br><br>
The cells are shaded by how recently their latest datasets were published.
<br><br>
<table>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">More than 28 days</td>
        <td style="padding:4px; border: solid 1px black; background-color:#32E732">More than 7 days</td>
        <td style="padding:4px; border: solid 1px black; background-color:#15B715">Less than 7 days</td>
    </tr>
</table>
<br>
Number of 'datasets' [variables x (# of simulations)] from each model in support of each CMIP6 CCCma experiment.
<br><br>
<div style="overflow-x:auto;">
<table>
    <tr>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">model</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;"># of experiments</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">piControl</th>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;"># of models</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">1</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CanESM5-1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">1</td>
        </tr>
    </table>
</div>
<br><br>
Number of simulations [# of simulations] from each model in support of each CMIP6 CCCma experiment.
<br><br>
<div style="overflow-x:auto;">
<table>
    <tr>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">model</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">piControl</th>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CanESM5-1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        </tr>
    </table>
</div>
<br><br>
Number of variables from each model in support of each CMIP6 CCCma experiment.
<br><br>
<div style="overflow-x:auto;">
<table>
    <tr>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">model</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">piControl</th>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CanESM5-1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        </tr>
    </table>
</div>
<br><br>
Number of models providing output at each sampling frequency in support of each CMIP6 CCCma experiment.
<br><br>
<div style="overflow-x:auto;">
<table>
    <tr>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">frequency</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">piControl</th>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">3hrPt</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        </tr>
    </table>
</div>
