ESGF CMIP6 data holdings for activity VolMIP as of Wednesday 02 July 2025 09:55:02
<br><br>
The cells are shaded by how recently their latest datasets were published.
<br><br>
<table>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">More than 28 days</td>
        <td style="padding:4px; border: solid 1px black; background-color:#32E732">More than 7 days</td>
        <td style="padding:4px; border: solid 1px black; background-color:#15B715">Less than 7 days</td>
    </tr>
</table>
<br>
Number of 'datasets' [variables x (# of simulations)] from each model in support of each CMIP6 VolMIP experiment.
<br><br>
<div style="overflow-x:auto;">
<table>
    <tr>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">model</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;"># of experiments</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">dcppC-forecast-addPinatubo</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">volc-long-eq</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">volc-pinatubo-full</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">volc-pinatubo-strat</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">volc-pinatubo-surf</th>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;"># of models</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">14</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">4</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">6</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">1</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CanESM5</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">3410</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">6840</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">6840</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">GISS-E2-1-G</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">20085</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">HadGEM3-GC31-MM</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">610</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MIROC-ES2L</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">4</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">3492</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">9700</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">9700</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">9700</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MPI-ESM1-2-HR</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">2034</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">5880</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MPI-ESM1-2-LR</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">2114</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">5875</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">UKESM1-0-LL</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">5427</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    </table>
</div>
<br><br>
Number of simulations [# of simulations] from each model in support of each CMIP6 VolMIP experiment.
<br><br>
<div style="overflow-x:auto;">
<table>
    <tr>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">model</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">dcppC-forecast-addPinatubo</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">volc-long-eq</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">volc-pinatubo-full</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">volc-pinatubo-strat</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">volc-pinatubo-surf</th>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CanESM5</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">10</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">40</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">40</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">GISS-E2-1-G</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">121</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">HadGEM3-GC31-MM</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">10</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MIROC-ES2L</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">9</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">25</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">25</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">25</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MPI-ESM1-2-HR</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">9</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">26</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MPI-ESM1-2-LR</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">9</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">25</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">UKESM1-0-LL</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">27</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    </table>
</div>
<br><br>
Number of variables from each model in support of each CMIP6 VolMIP experiment.
<br><br>
<div style="overflow-x:auto;">
<table>
    <tr>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">model</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">dcppC-forecast-addPinatubo</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">volc-long-eq</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">volc-pinatubo-full</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">volc-pinatubo-strat</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">volc-pinatubo-surf</th>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CanESM5</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">262</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">126</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">126</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">GISS-E2-1-G</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">166</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">HadGEM3-GC31-MM</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">53</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MIROC-ES2L</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">269</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">269</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">269</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">269</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MPI-ESM1-2-HR</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">154</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">154</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MPI-ESM1-2-LR</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">162</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">162</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">UKESM1-0-LL</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">147</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    </table>
</div>
<br><br>
Number of models providing output at each sampling frequency in support of each CMIP6 VolMIP experiment.
<br><br>
<div style="overflow-x:auto;">
<table>
    <tr>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">frequency</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">dcppC-forecast-addPinatubo</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">volc-long-eq</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">volc-pinatubo-full</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">volc-pinatubo-strat</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">volc-pinatubo-surf</th>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">6hr</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">6hrPt</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">day</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">4</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">5</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">fx</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">4</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">4</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">mon</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">4</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">6</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">yr</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">yrPt</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    </table>
</div>
