ESGF CMIP6 data holdings for activity OMIP as of Wednesday 02 July 2025 09:55:02
<br><br>
The cells are shaded by how recently their latest datasets were published.
<br><br>
<table>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">More than 28 days</td>
        <td style="padding:4px; border: solid 1px black; background-color:#32E732">More than 7 days</td>
        <td style="padding:4px; border: solid 1px black; background-color:#15B715">Less than 7 days</td>
    </tr>
</table>
<br>
Number of 'datasets' [variables x (# of simulations)] from each model in support of each CMIP6 OMIP experiment.
<br><br>
<div style="overflow-x:auto;">
<table>
    <tr>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">model</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;"># of experiments</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">omip1</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">omip1-spunup</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">omip2</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">omip2-spunup</th>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;"># of models</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">41</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">20</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">4</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">16</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">1</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">ACCESS-OM2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">137</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">136</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">ACCESS-OM2-025</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">88</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CAS-ESM2-0</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">69</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CESM2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">1038</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">508</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CMCC-CM2-HR4</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">106</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CMCC-CM2-SR5</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">118</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">118</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CMCC-ESM2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">202</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CNRM-CM6-1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">53</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">63</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CNRM-CM6-1-HR</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">55</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CNRM-ESM2-1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">185</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CanESM5</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">137</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">137</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CanESM5-CanOE</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">185</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">EC-Earth3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">116</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">120</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">FGOALS-f3-H</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">35</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">FGOALS-f3-L</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">59</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">56</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">FIO-ESM-2-0</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">44</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">GFDL-CM4</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">79</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">121</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">GFDL-OM4p5B</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">46</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">IPSL-CM6A-LR</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">1284</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MIROC-ES2L</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">119</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">119</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MIROC6</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">114</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">114</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MRI-ESM2-0</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">894</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">646</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">1403</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">NorESM2-LM</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">307</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">308</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">307</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">TaiESM1-TIMCOM</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">29</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">57</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">TaiESM1-TIMCOM2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">37</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">66</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    </table>
</div>
<br><br>
Number of simulations [# of simulations] from each model in support of each CMIP6 OMIP experiment.
<br><br>
<div style="overflow-x:auto;">
<table>
    <tr>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">model</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">omip1</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">omip1-spunup</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">omip2</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">omip2-spunup</th>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">ACCESS-OM2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">ACCESS-OM2-025</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CAS-ESM2-0</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CESM2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CMCC-CM2-HR4</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CMCC-CM2-SR5</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CMCC-ESM2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CNRM-CM6-1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CNRM-CM6-1-HR</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CNRM-ESM2-1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CanESM5</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CanESM5-CanOE</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">EC-Earth3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">FGOALS-f3-H</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">FGOALS-f3-L</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">FIO-ESM-2-0</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">GFDL-CM4</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">GFDL-OM4p5B</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">IPSL-CM6A-LR</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">4</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MIROC-ES2L</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MIROC6</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MRI-ESM2-0</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">5</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">NorESM2-LM</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">TaiESM1-TIMCOM</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">TaiESM1-TIMCOM2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    </table>
</div>
<br><br>
Number of variables from each model in support of each CMIP6 OMIP experiment.
<br><br>
<div style="overflow-x:auto;">
<table>
    <tr>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">model</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">omip1</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">omip1-spunup</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">omip2</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">omip2-spunup</th>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">ACCESS-OM2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">117</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">117</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">ACCESS-OM2-025</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">82</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CAS-ESM2-0</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">69</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CESM2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">280</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">268</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CMCC-CM2-HR4</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">106</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CMCC-CM2-SR5</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">109</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">109</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CMCC-ESM2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">171</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CNRM-CM6-1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">52</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">57</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CNRM-CM6-1-HR</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">54</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CNRM-ESM2-1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">177</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CanESM5</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">112</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">112</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CanESM5-CanOE</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">148</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">EC-Earth3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">95</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">99</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">FGOALS-f3-H</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">24</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">FGOALS-f3-L</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">55</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">52</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">FIO-ESM-2-0</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">43</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">GFDL-CM4</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">52</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">72</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">GFDL-OM4p5B</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">33</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">IPSL-CM6A-LR</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">255</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MIROC-ES2L</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">56</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">56</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MIROC6</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">58</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">58</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MRI-ESM2-0</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">212</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">223</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">212</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">NorESM2-LM</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">235</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">235</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">235</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">TaiESM1-TIMCOM</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">29</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">29</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">TaiESM1-TIMCOM2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">33</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">33</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    </table>
</div>
<br><br>
Number of models providing output at each sampling frequency in support of each CMIP6 OMIP experiment.
<br><br>
<div style="overflow-x:auto;">
<table>
    <tr>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">frequency</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">omip1</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">omip1-spunup</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">omip2</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">omip2-spunup</th>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">day</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">12</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">11</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">dec</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">fx</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">17</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">4</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">15</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">mon</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">20</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">4</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">16</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">monPt</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">5</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">yr</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">11</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">4</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">8</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        </tr>
    </table>
</div>
