---
layout: default
---



<head>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

	<link rel="stylesheet" href="{{site.baseurl}}/Data/media/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}/Data/media/css/bootstrap.mods.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}/Data/media/css/shadowbox.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}/Data/media/css/site.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}/Data/media/css/main.css"/>
	<link rel="stylesheet" href="{{site.baseurl}}/Data/media/css/contentMenu.css"/>
</head>



	<div data-spy="scroll" data-target="#myScrollspy" data-offset="20">
			<div class="container">
				<div class="row" >
					<div class="span3" class="hidden-sm hidden-xm visible-md visible-lg" >
						<div class="well sidebar-nav" id="myScrollspy" position="center">


							<ul style="list-style-type:none">

								<button  type="button" class="btn btn-info btn-block btn-md button" data-toggle="collapse" data-target="#demo" id="tb">AMIP Home</button>
								<div id="demo" class="collapse">
											<li><a href="{{site.baseurl}}/mips/amip/home/overview.html">What is AMIP?</a>
											<li><a href="{{site.baseurl}}/mips/amip/home/modelDocumentation.html">Model Documentation</a></li>
                                            <li><a href="{{site.baseurl}}/mips/amip/home/news/index.html">Project News </a></li>
									        <li><a href="/mips/amip/abstracts/abhme.html">Publication Abstracts </a></li>
								</div>


								<button id="tb" type="button" class="btn btn-info btn-block btn-md" data-toggle="collapse" data-target="#demo2">Experiment Specification</button>
								<div id="demo2" class="collapse">
											  <li><a href="/mips/amip/SST.html">SST & Sea-Ice boundary conditions</a></li>
											  <li><a href="{{site.baseurl}}/mips/amip/other.html">Other experimental specifications</a></li>
								</div>

								<button id="tb" type="button" class="btn btn-info btn-block btn-md" data-toggle="collapse" data-target="#demo3"> Model Output</button>
								<div id="demo3" class="collapse">
											<li><a href="{{site.baseurl}}/mips/amip/OUTPUT/AMIP2/"> Standard model output </a></li>
											<li><a href="{{site.baseurl}}/mips/amip/OUTPUT/WGNEDIAGS/">  WGNE diagnostics </a></li>

								</div>

								<div><a href="{{site.baseurl}}/mips/amip/DIAGSUBS/diagsp.html">
									<button id="tb" type="button" class="btn btn-primary btn-block btn-md">Diagnostic Projects </button>
									</a>

								</div>

								<div><a href="{{site.baseurl}}/mips/amip/resources/resources.html">
										<button id = "tb" type="button" class="btn btn-primary btn-block btn-md" data-toggle="collapse" data-target="#demo5">Additional Resources</button></a>
								</div>

								<div><a href="{{site.baseurl}}/mips/amip/">
										<button id="tb" type="button" class="btn btn-primary btn-block btn-md" data-toggle="collapse" data-target="#demo5">Download AMIP Boundary Condition </button></a>
								</div>
							</ul>
						</div>
					</div>
					<div class="span9" id="content">
						<div class="row-fluid">
						{{ content }}
						</div>
					</div>
				</div>
</div>
