---
layout: default
---

<head>
	<link rel="stylesheet" href="{{site.baseurl}}/Data/media/css/contentMenu.css"/>
</head>



<div data-spy="scroll" data-target="#myScrollspy" data-offset="20">
<div class="container">
<div class="row" >
<div class="span3" id ="tableContent" >
<div class="well sidebar-nav" id="myScrollspy">

<ul class="nav nav-pills nav-stacked">

<a href="/projects/amip/" align="	"><h4>AMIP Home</h4></a>
<li><a href="#Introduction">Introduction </a></li>
<li><a href="#Summary">- Summary</a></li> 
	<ul class="nav nav-list">
		<li ><a href="#BM1___Shortcomings_of_the_Traditional_Me">1.Shortcomings of the  "traditional" method</a></li>
		<li><a href="#BM2___Construction_of_the_AMIP_2_Boundar">2. Construction of the AMIP II boundary conditions</a></li>
		<li><a href="#BM3___Comparison_of_Traditional_and_New_">3. Comparison of "traditional" and "new" methods</a></li>
		<li><a href="#BM4___Use_of_Boundary_Condition_Data_Set">4. Use of boundary condition data set in AMIP II simulations</a></li>
		<li><a href="#BM5___Boundary_conditions_for_suggeste">5. Boundary conditions for suggested spin-up procedure</a></li>
		</ul>
<li><a href="#Appendix_1">- Appendix 1 </a></li>
<li><a href="#Appendix_2">- Appendix 2 </a></li>
<li><a href="#Appendix_3">- Appendix 3 </a></li>


</ul>
</div>
</div>

<div class="span9" id="content">
<div class="row-fluid"> 

{{ content }}
</div>
</div>

