---
layout: default
---
<div class="container-fluid">
<div class="row-fluid">
<div class="span3">
<div class="well sidebar-nav">
<ul class="nav nav-list">
<a href="{{site.baseurl}}/projects/capt/index.html"><h4>CAPT Home</h4></a>

<li><a href="{{site.baseurl}}/projects/capt/participants.html">- Project Participants</a></li>
<li><a href="{{site.baseurl}}/projects/capt/research.html">- Research Highlights</a></li>
<li><a href="{{site.baseurl}}/projects/capt/publications.html">- Publications</a></li>
<li><a href="{{site.baseurl}}/projects/capt/technicalReport.html">- Technical Report</a></li>
<li><a href="{{site.baseurl}}/projects/capt/origin.html">- Origin</a></li>
<li><a href="{{site.baseurl}}/projects/capt/methodology.html">- Methodology</a></li>

</ul>
</div>
</div>

<div class="span9">
<div class="row-fluid">
{{ content }}
</div>
</div>
</div>
</div>
