---
layout: default
---
<div class="container-fluid">
<div class="row-fluid">
<div class="span3">
<div class="well sidebar-nav">
<ul class="nav nav-list">
<a href="{{site.baseurl}}/projects/capt/index.html"><h4>Cloud Feedbacks</h4></a>

<li><a href="{{site.baseurl}}/projects/cloud_feedbacks/index.html#introduction">- Introduction</a></li>
<li><a href="{{site.baseurl}}/projects/cloud_feedbacks/index.html#project-participants">- Project Participants</a></li>
<li><a href="{{site.baseurl}}/projects/cloud_feedbacks/index.html#research-highlights">- Research Highlights</a></li>
<li><a href="{{site.baseurl}}/projects/cloud_feedbacks/index.html#publicity">- Publicity</a></li>
<li><a href="{{site.baseurl}}/projects/cloud_feedbacks/index.html#publications">- Publication</a></li>

</ul>
</div>
</div>

<div class="span9">
<div class="row-fluid">
{{ content }}
</div>
</div>
</div>
</div>