---
layout: default
---
<div class="container-fluid">
<div class="row-fluid">
<div class="span3">
<div class="well sidebar-nav">
<ul class="nav nav-list">
<a href="{{site.baseurl}}/projects/cloud_feedbacks/index.html"><h4>Cloud Feedbacks</h4></a>

<li><a href="{{site.baseurl}}/projects/cloud_feedbacks/people.html">Who We Are</a></li>
<li><a href="{{site.baseurl}}/projects/cloud_feedbacks/publications.html">Publication</a></li>
<li><a href="{{site.baseurl}}/projects/cloud_feedbacks/press.html">Press Coverage</a></li>
<li><a href="{{site.baseurl}}/projects/cloud_feedbacks/highlights.html">Research Highlights</a></li>
<li><a href="{{site.baseurl}}/projects/cloud_feedbacks/data.html">Data & Code</a></li>

</ul>
</div>
</div>

<div class="span9">
<div class="row-fluid">
{{ content }}
</div>
</div>
</div>
</div>
