---
layout: default
---
<div class="container-fluid">
<div class="row-fluid">
<div class="span3">
<div class="well sidebar-nav">
<ul class="nav nav-list">
<a href="{{site.baseurl}}/projects/cmip5/"><h4>CMIP5 Home</h4></a>
<li><a href="{{site.baseurl}}/projects/cmip5/guide.html">Guide</a></li>
<li><u>Data Access</u></li>
<li><a href="{{site.baseurl}}/projects/cmip5/data-access-getting-started.html">- Getting Started</a></li>
<li><a href="{{site.baseurl}}/projects/cmip5/terms-of-use.html">- Terms of Use</a></li>
<li><a href="{{site.baseurl}}/projects/cmip5/citation.html">- Citation</a></li>
<li><a href="{{site.baseurl}}/projects/cmip5/availability.html">- Availability</a></li>
<li><a href="{{site.baseurl}}/projects/cmip5/data-portal.html">- Data Portal</a></li>
<li><a href="{{site.baseurl}}/projects/cmip5/access-faq.html">- FAQs</a></li>

<li><u>For Data Providers</u></li>
<li><a href="{{site.baseurl}}/projects/cmip5/provider-getting-started.html">- Getting Started</a></li>
<li><a href="{{site.baseurl}}/projects/cmip5/forcing.html">- Forcing Data</a></li>
<li><a href="{{site.baseurl}}/projects/cmip5/requirements.html">- Output Requirements</a></li>
<li><a href="{{site.baseurl}}/projects/cmip5/submitting-data.html">- Submitting Data</a></li>
<li><a href="{{site.baseurl}}/projects/cmip5/data-node.html">- Data Node</a></li>
<li><a href="{{site.baseurl}}/projects/cmip5/provider-faq.html">- FAQs</a></li>
</ul>
</div>
</div>

<div class="span9">
<div class="row-fluid">
{{ content }}
</div>
</div>
</div>
</div>
