---
layout: default
---



<head>

  <script type="text/javascript" charset="utf-8" src="https://pcmdi.github.io/assets/jquery/jquery.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="https://pcmdi.github.io/assets/bootstrap/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="{{site.baseurl}}/Data/media/css/contentMenu.css"/>
</head>
<div data-spy="scroll" data-target="#myScrollspy" data-offset="20">
	<div class="container">
		<div class="row" >
			<div class="span3"  >
				<div class="well sidebar-nav" id="myScrollspy" position="center">
					<ul class="nav nav-list">
						<a href="{{site.baseurl}}/mips/cmip3/"><h4>CMIP3 Home</h4></a>
						<li><a href="{{site.baseurl}}/mips/cmip3/overview.html">Overview</a></li>
						<li><a href="{{site.baseurl}}/mips/cmip3/dataArchive.html">Data Archive</a></li>
						<li><a href="{{site.baseurl}}/mips/cmip3/variableList.html">Variable List</a></li>
						<li><a href="{{site.baseurl}}/mips/cmip3/data_status_tables.pdf">Data Availability</a></li>
						<li><a href="{{site.baseurl}}/mips/cmip3/experiment.html">Experiment Design</a></li>
					</ul>
				</div>
			</div>
			<div class="span9" id="content">
				<div class="row-fluid">
				{{ content }}
				</div>
			</div>
		</div>
	</div>
</div>
