---
layout: default
---



<head>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{{site.baseurl}}/Data/media/css/contentMenu.css"/>
</head>



	<div data-spy="scroll" data-target="#myScrollspy" data-offset="20">
			<div class="container">
				<div class="row" >
					<div class="span3"  >
						<div class="well sidebar-nav" id="myScrollspy" position="center">


							<ul style="list-style-type:none">

								<button id = "tb" type="button" class="btn btn-primary btn-block btn-md" data-toggle="collapse" data-target="#demo">CMIP5 Home</button>
								<div id="demo" class="collapse">
											<li><a href="{{site.baseurl}}/projects/cmip5/"> Overview</a>
											<li><a href="{{site.baseurl}}/projects/cmip5/history.html">History</a></li>
								</div>

								<div>

										<a href="{{site.baseurl}}/projects/cmip5/news.html">
											<button id = "tb" type="button" class="btn btn-primary btn-block btn-md " datasrc="{{site.baseurl}}/projects/cmip5/news.html">News
											</button>
										</a>
								</div>

								<div>
											<a  href="{{site.baseurl}}/projects/cmip5/guide.html">
												<button id = "tb" type="button" class="btn btn-primary btn-block btn-md" datasrc="{{site.baseurl}}/projects/cmip5/guide.html" >
											Guide </button>
												</a>
								</div>

								<button id = "tb" type="button" class="btn btn-primary btn-block btn-md" data-toggle="collapse" data-target="#demo2">Experiment Design</button>
								<div id="demo2" class="collapse">
											  <li><a href="{{site.baseurl}}/projects/cmip5/experiment.html">Experiment Design</a></li>
											  <li><a href="{{site.baseurl}}/projects/cmip5/datadescription.html">Data Description</a></li>
								</div>

								<button id = "tb" type="button" class="btn btn-primary btn-block btn-md" data-toggle="collapse" data-target="#demo3">Data Access</button>
								<div id="demo3" class="collapse">
											<li><a href="{{site.baseurl}}/projects/cmip5/data-access-getting-started.html"> Getting Started</a></li>
											<li><a href="{{site.baseurl}}/projects/cmip5/terms-of-use.html">  Terms of Use</a></li>
											<li><a href="{{site.baseurl}}/projects/cmip5/citation.html">  Citation</a></li>
											<li><a href="{{site.baseurl}}/projects/cmip5/availability.html">  Availability</a></li>
											<li><a href="{{site.baseurl}}/projects/cmip5/data-portal.html">  Data Portal</a></li>
											<li><a href="{{site.baseurl}}/projects/cmip5/access-faq.html">  FAQs</a></li>
								</div>

								<button id = "tb" type="button" class="btn btn-primary btn-block btn-md" data-toggle="collapse" data-target="#demo4">For Data Providers </button>
								<div id="demo4" class="collapse">
											<li><a href="{{site.baseurl}}/projects/cmip5/provider-getting-started.html">  Getting Started</a></li>
											<li><a href="{{site.baseurl}}/projects/cmip5/forcing.html">  Forcing Data</a></li>
											<li><a href="{{site.baseurl}}/projects/cmip5/requirements.html">  Output Requirements</a></li>
											<li><a href="{{site.baseurl}}/projects/cmip5/submitting-data.html">  Submitting Data</a></li>
											<li><a href="{{site.baseurl}}/projects/cmip5/data-node.html">  Data Node</a></li>
											<li><a href="{{site.baseurl}}/projects/cmip5/provider-faq.html">  FAQs</a></li>
								</div>

								<div><a href="{{site.baseurl}}/projects/cmip5/publication.html">
										<button id = "tb" type="button" class="btn btn-primary btn-block btn-md" data-toggle="collapse" data-target="#demo5">  Publication</button></a>
								</div>

								<button id = "tb" type="button" class="btn btn-primary btn-block btn-md" data-toggle="collapse" data-target="#demo5">More Info </button>
								<div id="demo5" class="collapse">
											<li><a href="{{site.baseurl}}/projects/cmip5/usefulDocuments.html">  Useful Documents</a></li>
											<li><a href="{{site.baseurl}}/projects/cmip5/links.html">  Links</a></li>
								</div>

								<div>
									<a href="{{site.baseurl}}/projects/cmip5/availability.html">
										<button id = "tb" type="button" class="btn btn-primary btn-block btn-md" datasrc="{{site.baseurl}}/projects/cmip5/availability.html"> CMIP5 Status</button>
									</a>
								</div>

								<div>
										<a href="{{site.baseurl}}/projects/cmip5/errata.html">
											<button id = "tb" type="button" class="btn btn-primary btn-block btn-md" datasrc="{{site.baseurl}}/projects/cmip5/errata.html"> CMIP5 Errata</button>
										</a>
								</div>

								<div>
										<a href="{{site.baseurl}}/projects/cmip5/contact.html">
											<button id = "tb" type="button" class="btn btn-primary btn-block btn-md" datasrc="{{site.baseurl}}/projects/cmip5/contact.html">Contact</button>
										</a>
								</div>


							</ul>

						</div>
					</div>
					<div class="span9" id="content">
						<div class="row-fluid">
						{{ content }}
						</div>
					</div>
				</div>
</div>
