<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta charset="utf-8"/>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{ site.author }}">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/Data/media/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}/Data/media/css/bootstrap.mods.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}/Data/media/css/shadowbox.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}/Data/media/css/site.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}/Data/media/css/main.css"/>
</head>
<body>
{% include pcmdi_nav.html %}
<div class="container" id="top">
    {{ content }}
    {% include footer.html %}
</div> <!-- /container -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="{{site.baseurl}}/Data/media/js/links.js"></script>
<script src="{{site.baseurl}}/Data/media/js/libs/bootstrap.js"></script>
<script src="{{site.baseurl}}/Data/media/js/libs/bootstrap-button.js"></script>
<script src="{{site.baseurl}}/Data/media/js/libs/bootstrap-collapse.js"></script>
<script src="{{site.baseurl}}/Data/media/js/libs/bootstrap-dropdown.js"></script>
<script src="{{site.baseurl}}/Data/media/js/libs/bootstrap-transition.js"></script>
<script src="{{site.baseurl}}/Data/media/js/libs/bootstrap-alert.js"></script>
<script src="{{site.baseurl}}/Data/media/js/libs/bootstrap-modal.js"></script>
<script src="{{site.baseurl}}/Data/media/js/libs/bootstrap-scrollspy.js"></script>
<script src="{{site.baseurl}}/Data/media/js/libs/bootstrap-tab.js"></script>
<script src="{{site.baseurl}}/Data/media/js/libs/bootstrap-tooltip.js"></script>
<script src="{{site.baseurl}}/Data/media/js/libs/bootstrap-popover.js"></script>
<script src="{{site.baseurl}}/Data/media/js/libs/bootstrap-carousel.js"></script>
<script src="{{site.baseurl}}/Data/media/js/libs/bootstrap-typeahead.js"></script>
<script src="{{site.baseurl}}/Data/media/js/shadowbox.js"></script>
<script src="{{site.baseurl}}/Data/media/js/main.js"></script>
<script src="{{site.baseurl}}/Data/media/js/global.js"></script>

<!--[if lt IE 7 ]>
<script src="{{ Data/Data/media_url('js/libs/dd_belatedpng.js') }}"></script>
<script>DD_belatedPNG.fix('img, .png_bg'); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb
</script>
<![endif]-->

</body>
</html>
