---
layout: default
---
<div class="container-fluid">
<div class="row-fluid">
<div class="span3">
<div class="well sidebar-nav">
<ul class="nav nav-list">
<a href="{{site.baseurl}}/research/DandA/index.html"><h4>Detection and Attribution</h4></a>

<li><a href="{{site.baseurl}}/research/DandA/people.html">Who We Are</a></li>
<li><a href="{{site.baseurl}}/research/DandA/publications.html">Publications</a></li>
<li><a href="{{site.baseurl}}/research/DandA/data.html">Synthetic MSU Data</a></li>

</ul>
</div>
</div>

<div class="span9">
<div class="row-fluid">
{{ content }}
</div>
</div>
</div>
</div>
