---
layout: default
---

<style>

div.item active{
        width = "440";
      height= "500";
    }

div.item{
        width = "440";
        height= "500";
    }
</style>



<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>

  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox"  >

       <div class="item active">
            <a href="{{site.baseurl}}/about/staff/santer/Santer_etal_GRL_2015.pdf">
       <img src="{{site.baseurl}}/Data/media/images/santer_GRL_2015.png" alt="santer">
      <div class="carousel-caption">
        <h3>Publication</h3>
        <p>Observed multivariable signals of late 20th
and early 21st century volcanic activity</p>
      </div>
                </a>
    </div>

    <div class="item">
         <a href="{{site.baseurl}}/about/staff/santer/index.html">
      <img src="{{site.baseurl}}/about/staff/santer/stil_32425_GAK_Ben Santer_Q5I0377_006.jpeg" alt="Santer">
      <div class="carousel-caption">
         <h3>Research Scientist</h3>
        <p>Dr. Benjamin D. Santer</p>
      </div>
              </a>
    </div>

    <div class="item">
        <a href="{{site.baseurl}}/about/staff/Karl/nclimate2389.pdf">
      <center><img src="{{site.baseurl}}/Data/media/images/nature2014.png" alt="Nature"></center>
      <div class="carousel-caption">
        <h3>Publication</h3>
        <p>Quantifying underestimates of long-term upper-ocean warming</p>
      </div>
            </a>
    </div>



  </div>



  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">

    <span class="sr-only"> < </span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">

    <span class="sr-only"> > </span>
  </a>
</div>

<script>
$(document).ready(function(){
    // Activate Carousel
    $("#myCarousel").carousel();

    // Enable Carousel Indicators
    $(".item1").click(function(){
        $("#myCarousel").carousel(0);
    });
    $(".item2").click(function(){
        $("#myCarousel").carousel(1);
    });
    $(".item3").click(function(){
        $("#myCarousel").carousel(2);
    });
    $(".item4").click(function(){
        $("#myCarousel").carousel(3);
    });

    // Enable Carousel Controls
    $(".left").click(function(){
        $("#myCarousel").carousel("prev");
    });
    $(".right").click(function(){
        $("#myCarousel").carousel("next");
    });
});
</script>


