ESGF CMIP6 data holdings for activity GMMIP as of Wednesday 02 July 2025 09:55:02
<br><br>
The cells are shaded by how recently their latest datasets were published.
<br><br>
<table>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">More than 28 days</td>
        <td style="padding:4px; border: solid 1px black; background-color:#32E732">More than 7 days</td>
        <td style="padding:4px; border: solid 1px black; background-color:#15B715">Less than 7 days</td>
    </tr>
</table>
<br>
Number of 'datasets' [variables x (# of simulations)] from each model in support of each CMIP6 GMMIP experiment.
<br><br>
<div style="overflow-x:auto;">
<table>
    <tr>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">model</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;"># of experiments</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">amip-TIP</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">amip-TIP-nosh</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">amip-hist</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">amip-hld</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">hist-resAMO</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">hist-resIPO</th>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;"># of models</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">30</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">17</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">3</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">BCC-CSM2-MR</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">79</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">162</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CAMS-CSM1-0</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">183</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CESM2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">294</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CIESM</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">144</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CNRM-CM6-1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">832</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CNRM-CM6-1-HR</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">107</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CNRM-ESM2-1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">181</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CanESM5</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">2140</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">FGOALS-f3-L</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">5</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">90</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">90</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">135</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">135</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">411</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">FGOALS-g3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">518</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">FIO-ESM-2-0</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">6</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">46</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">46</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">138</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">138</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">95</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">94</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">GFDL-CM4</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">90</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">IITM-ESM</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">93</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">IPSL-CM6A-LR</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">6</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">561</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MIROC6</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">875</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MRI-ESM2-0</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">410</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">513</td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">513</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">TaiESM1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#BBF7BB">746</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    </table>
</div>
<br><br>
Number of simulations [# of simulations] from each model in support of each CMIP6 GMMIP experiment.
<br><br>
<div style="overflow-x:auto;">
<table>
    <tr>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">model</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">amip-TIP</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">amip-TIP-nosh</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">amip-hist</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">amip-hld</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">hist-resAMO</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">hist-resIPO</th>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">BCC-CSM2-MR</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CAMS-CSM1-0</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CESM2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CIESM</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CNRM-CM6-1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">10</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CNRM-CM6-1-HR</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CNRM-ESM2-1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CanESM5</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">10</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">FGOALS-f3-L</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">FGOALS-g3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">4</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">FIO-ESM-2-0</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">GFDL-CM4</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">IITM-ESM</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">IPSL-CM6A-LR</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">20</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MIROC6</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">5</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MRI-ESM2-0</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">5</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">TaiESM1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    </table>
</div>
<br><br>
Number of variables from each model in support of each CMIP6 GMMIP experiment.
<br><br>
<div style="overflow-x:auto;">
<table>
    <tr>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">model</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">amip-TIP</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">amip-TIP-nosh</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">amip-hist</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">amip-hld</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">hist-resAMO</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">hist-resIPO</th>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">BCC-CSM2-MR</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">74</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">130</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CAMS-CSM1-0</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">47</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CESM2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">84</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CIESM</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">50</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CNRM-CM6-1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">84</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CNRM-CM6-1-HR</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">73</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CNRM-ESM2-1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">168</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">CanESM5</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">158</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">FGOALS-f3-L</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">46</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">46</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">41</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">41</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">137</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">FGOALS-g3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">69</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">FIO-ESM-2-0</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">39</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">39</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">39</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">39</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">75</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">75</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">GFDL-CM4</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">27</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">IITM-ESM</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">47</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">IPSL-CM6A-LR</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">72</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MIROC6</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">95</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">MRI-ESM2-0</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">72</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">144</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">144</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">TaiESM1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">151</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    </table>
</div>
<br><br>
Number of models providing output at each sampling frequency in support of each CMIP6 GMMIP experiment.
<br><br>
<div style="overflow-x:auto;">
<table>
    <tr>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">frequency</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">amip-TIP</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">amip-TIP-nosh</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">amip-hist</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">amip-hld</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">hist-resAMO</th>
        <th style="padding:4px; border: solid 1px black; background-color:#FFFFFF;">hist-resIPO</th>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">3hr</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">4</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">3hrPt</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">4</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">6hr</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">4</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">6hrPt</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">day</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">16</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">fx</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">6</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">mon</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">17</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">3</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">monC</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">2</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">monPt</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        </tr>
    <tr>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF; font-weight: bold;">yr</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#FFFFFF">1</td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        <td style="padding:4px; border: solid 1px black; background-color:#CCCCCC"></td>
        </tr>
    </table>
</div>
